/* custom.css */
:root {
    --primary-color: #373737; /* Beispiel für eine benutzerdefinierte Primärfarbe */
    --secondary-color: #FFA6C7; /* Beispiel für eine benutzerdefinierte Sekundärfarbe */
  }
  
  /* Weitere Anpassungen können hier hinzugefügt werden */
  .button-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }
  
  .button-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }

  .iAycJB {
    background: #373737;
  }